<p style='align-content: right'><button id="logout" (click)="goBack()">logout</button></p>
<div id="div-parent-container">
  Hello, Welcome
  <table>
    <th>
      Courses offered
    </th>
    <tr>
      <td>
        Java Full stack
      </td>
    </tr>
    <tr>
      <td>
        Python Full stack
      </td>
    </tr>
    <tr>
      <td>
        MEAN/MERN Full stack
      </td>
    </tr>
  </table>
  Name : <input type="text" id="name" [(ngModel)]="name"/><br>
  <button [ngClass]="'one two'" type="Submit" (click)="regNavigator()">Click to Enquire!</button>
  <button ngClass="{{'one two'}}" type="Submit" (click)="eventBinding('Hi')">Click to Enquire!</button>
  <!-- <app-studentlist [name]="name"></app-studentlist> -->
</div>